.articles {
    position: absolute;
    top: 25vh; left: calc(10vw + 200px);
    width: 58vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
}

.article {
    width: 100%;
}

.article-content h2 {
    font-size: 1.2em;
}

.article-glow {
    width: 100%;
}