.articles {
    position: absolute;
    top: 70vh; left: 25vw;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    z-index: 5;
}

.articles a {
    text-decoration: none;
    transition: .5s;

    animation-name: article-appear, article-disappear;
    animation-duration: 1s, 1s;
}

.articles a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 80px black;
}

.article {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.article-content h2 {
    font-size: 1.2em;
}

.glow-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.article-glow {
    max-width: 100%;
    max-height: 250px;
    margin: auto;
}

.article-title {
    flex-grow: 1;
    align-items: center;
    transform: translateY(10px);
    display: flex;
}

.article-title h1 {
    text-align: center;
    width: 100%;
}

.article-filter {
    display: none;
    position: absolute;
    width: calc(60vw - 420px);
    top: 55vh; left: calc(20vw + 200px);
    height: 70px;
    padding: 20px;
    /* display: flex; */
    justify-content: space-around;
    z-index: -1;
}

.filter-button {
    text-decoration: none;
    font-size: 1.9em; padding: 1em;
    display: flex; align-items: center;
    border-radius: 30px;
    cursor: pointer;

    transition: .5s;
}

.filter-button:hover {
    color: #ff571a;
    transform: scale(1.05);
}

.filter-active {
    color: #ff571a;
    font-weight: bolder;
    transform: scale(1.05);
}

.loader {
    position: absolute;
    width: 100px; height: 100px;
    left: calc(50vw - 50px);
    top: 70vh;
    background-color: rgba(14, 0, 33, 0.3);
    padding: 5px;
    border-radius: 50%;

    animation-name: loader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.school-image {
    position: absolute;
    top: 25vh; left: 25vw;
    width: 50vw;
    height: 250px;
    z-index: -1;

}

@keyframes article-appear {
    from {
        transform: scale(.7);
        opacity: 0;
        box-shadow: none;
    }
    to {
        transition: scale(1);
        opacity: 1;
        box-shadow: 0 0 60px black;
    }
}

@keyframes article-disappear {
    from {
        transform: scale(.7);
        opacity: 0;
        box-shadow: none;
    }
    to {
        transition: scale(1);
        opacity: 1;
        box-shadow: 0 0 60px black;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1210px) {
    .articles {
        grid-template-columns: 1fr;
    }

    .article {
        min-height: 200px;
    }
}