.menu-links {
    /* position: absolute; */
    /* right: 5vw; */
    /* top: 70vh; */
    width: 100%;
    padding: 1vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 10vh);

    z-index: 1;
}


.flash-text-nav {
    font-size: 1em;
    color: whitesmoke;
    font-size: 60px;
    transition: .5s;
}

.flash-text-nav:hover {
    color: #ff571a;
    text-shadow: 0 0 5px #ff571a;
    transform: scale(1.1);
}

i {
    color: inherit;
    font-size: 55px;
}

.menu-links div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    /* position: absolute; */
    width: 100%;
    padding: 1vw;
    /* right: 5vw; */
    /* top: 115vh; */
    display: flex;
    flex-direction: column;

    font-size: 1.2em;
    text-align: center;
}

.credits b {
    font-size: 1.3em;
}

.larla {
    font-family: 'Beau Rivage', cursive;
    font-weight: 400;
    font-size: 1.6em !important;
}

@media only screen and (max-width: 1210px) {
    i {
        font-size: .8em;
    }
    
    .credits b {
        font-size: 1em;
    }

    .larla {
        font-size: 1.3em !important;
    }
}