.history-tiles {
    position: absolute;
    top: 250px;
    width: 50vw;
    left: 25vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
}

.history-tiles p {
    margin-top: 25px;
    text-align: center;
    font-size: 1.5em;
}