.single-article-view {
    position: absolute;
    top: var(--top-height); left: 25vw;
    width: 50vw;
    padding: 30px;
    z-index: -1;

    font-size: 1rem;
}

.single-article-view > h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 25px;
}

.single-article-view > p {
    margin-top: 1.5em;
    text-align: center;
    font-size: 1.5em;
}


.single-article-view > p h2 {
    font-size: 1em;
}

.article-images {
    display: flex;
    overflow-x: scroll;
}

.article-images div {
    min-width: 100%;
    justify-content: center;
    display: flex;
    /* transform: translateX(10%); */
}

.article-images img {
    max-width: 100%;
    margin: auto;
    /* max-height: 80vh; */
}

@media only screen and (max-width: 1210px) {
    .single-article-view > h1 {
        font-size: 2.2em;
    }
    .single-article-view > p {
        font-size: 1.5em;
    }

}
