.badges {
    position: absolute;
    left: 5vw; top: 250px;
    padding: 1vw; width: 15vw; min-width: 170px;
    display: flex; flex-direction: column;
    align-items: center;
    z-index: -1;
}

#main-logo {
    width: 15vw; max-width: 200px; min-width: 150px;
    margin-bottom: 40px;
}

.badges img {
    width: 10vw;
    max-width: 150px;
}

.badges a {
    margin-bottom: 30px;
}

.round-badge {
    border-radius: 50%;
    background-color: rgba(14, 0, 33, 0.6);

    transition: .4s;
}

.round-badge:hover {
    transform: scale(1.05);
    background-color: rgba(14, 0, 33, 1);
    box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 1210px) {
    /* .badges {
        padding: 100px;
    } */
}