.badges {
    position: absolute;
    left: 5vw; top: var(--top-height);
    padding: 1vw; width: 15vw; max-width: 240px;
    display: flex; flex-direction: column;
    align-items: center;
}

#main-logo {
    width: 12vw; max-width: 200px;
    margin-bottom: 40px;
}

.badges img {
    width: 10vw;
    max-width: 150px;
}

.badges a {
    margin-bottom: 30px;
}

.round-badge {
    border-radius: 50%;
    background-color: rgba(14, 0, 33, 0.6);

    transition: .2s;
}

.round-badge:hover {
    transform: scale(1.05);
    background-color: rgba(14, 0, 33, 1);
    box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 900px) {
    .badges {
        width: 100px;
        left: 2vw;
    }

    #main-logo {
        margin: auto;
        width: 80px;
        margin-top: 5px;
    }

    .badges img {
        width: 65px;
    }
}