.tile {
    background-color: rgba(14, 0, 33, 0.7);
    box-shadow: 0 0 60px black;
    backdrop-filter: blur(5px);
    /* z-index: -1; */
    --highlight-color: rgb(255, 220, 78);
}

.central {
    position: absolute;
    top: var(--top-height); left: 22.5vw;
    width: 55vw;
}


.e404 {
    position: fixed;
    width: fit-content; height: fit-content;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 2em;
    padding: 5vh 5vw;
}