.tile {
    background-color: rgba(14, 0, 33, 0.7);
    box-shadow: 0 0 40px black;
    backdrop-filter: blur(5px);
    /* z-index: -1; */
    --highlight-color: rgb(255, 220, 78);
}

.central {
    padding: 1vw;
}

.e404 {
    position: fixed;
    width: fit-content; height: fit-content;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 2em;
    padding: 5vh 5vw;
}

.main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 2vw;
    position: absolute;
    top: var(--top-height);
    margin-left: 2vw; margin-right: 2vw;
}

@media only screen and (max-width: 1210px) {
    .main {
        grid-template-columns: 1fr 4fr 1fr;
    }
}
 
@media only screen and (max-width: 900px) {
    .main {
        grid-template-columns: 1fr 4fr;
        grid-gap: .6em;
        margin-left: .6em; margin-right: .6em;
    }

    .tile {
        box-shadow: 0 0 15px black;
    }
}