* {
    color: white;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    /* outline: solid 1px yellow; */
    --top-height: 250px;
}

body {
    background-image: url('./static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.main-header {
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}