* {
    color: white;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    outline: solid 1px yellow;
}

body {
    background-image: url('./static/background.png');
    background-repeat: no-repeat;
}

.main-header {
    position: absolute;
    width: 100vw;
    text-align: center;
    /* font-family: 'Gugi', cursive; */
    font-size: 20px;
    margin-top: 15px;
}