.pedagog {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.pedagog-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 4em;
}

.for-smb {
    display: flex;
    flex-direction: column;
}

.for-smb * {
    text-align: center;
}

.for-smb div {
    font-size: 2em;
    margin-bottom: .3em;
}

.for-smb ul {
    font-size: 1.5em;
    list-style: none;
}

.for-smb ul li {
    margin-bottom: .2em;
}

.pedagog-sublinks ul {
    list-style: none;
    text-align: center;
}

.pedagog-sublinks ul li {
    font-size: 1.8em;
    margin-bottom: .5em;
}

.pedagog-sublinks ul li a{
    text-decoration: none;
}