nav {
    position: absolute;
    margin: 1vw;
    width: 98vw;
    background-color: rgba(14, 0, 33, 0.7);
    box-shadow: 0 0 10px black;
    justify-content: center;
}

.main-name {
    text-align: center;
    margin-top: 1vh;
    font-size: 50px;
}

.navigation {
    padding: 10px;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.flash-text {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

.flash-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff571a;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.flash-text:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff571a;
}

.flash-text:hover {
    color: #ff571a;
    box-shadow: 0 0 5px #ff571a;
    text-shadow: 0 0 5px #ff571a;
}

i {
    color: inherit;
}