nav {
    position: absolute;
    margin: 1vw;
    width: 98vw;

    font-size: 2rem;
}

.main-name {
    text-align: center;
    margin-top: 1vh;
    font-size: 1.6em;
}

.navigation {
    margin-top: 1vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
    grid-gap: 20px;
}

#first-nav {
    grid-column-start: 2;
}

.nav-topic {
    position: relative;
}

.drop-topic {
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;

    cursor: default;
    transition: .5s;
    user-select: none;
}

.dropdown {
    position: absolute; z-index: 1;
    width: 10em;
    display: flex; flex-direction: column;
    padding-top: 10px;

    opacity: 0;
    transform: scaleY(.95) translateY(-5%);
    pointer-events: none;
    transition: .3s;
}

.dropdown a {
    text-decoration: none;
    font-size: .76em;
    padding: .4em 1em;
}

.dropdown a:hover {
    background-color: rgba(100, 100, 100, .2);
}

.nav-topic:hover > .dropdown {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(14, 0, 33, 1);
    box-shadow: 0 5px 25px black;
    transform: none;
}

.nav-topic:hover > .drop-topic {
    color: #ff571a;
}

@media only screen and (max-width: 1550px) {
    nav {
        font-size: 1.8rem;
    }
    .navigation {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 1210px) {
    nav {
        font-size: 1.4rem;
        width: 100vw;
    }
    .navigation {
        grid-template-columns: .1fr repeat(4, 1fr) .1fr;
    }   
}